<div>
    <link href="./room-card.css" rel="stylesheet" />
    <div class="room-card-container">
      <div class="room-card-container1">
        <img
          alt="image"
          src="./public/playground_assets/default-img.svg"
          class="room-card-image"
        />
        <div class="room-card-container2">
          <h1 class="room-card-text"><span>RoomName</span></h1>
          <div class="room-card-container3">
            <div class="room-card-container4">
              <div class="room-card-container5">
                <span class="room-card-text1"><span>1 bedroom</span></span>
              </div>
              <span class="room-card-text2"><span>1 bathroom</span></span>
            </div>
            <span class="room-card-text3"><span>NOT / Pets friendly</span></span>
            <span class="room-card-text3">
              <span>Owner's info: </span>
            </span>
            <span class="room-card-text3">
              <span>Phone number: +1 (XXX)XXX-XXXX</span>
            </span>
          </div>
        </div>
        <div class="room-card-container6">
          <span class="room-card-text4"><span>CAD$100</span></span>
          <span class="room-card-text5"><span>Per Night</span></span>
          <div class="solid-button-container solid-button-root-class-name">
            <button class="solid-button-button button">
              <span>Book Now</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  